/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */ 
a:hover {
  color: lightblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: lightblue;
  text-decoration: none;
}

}
.hover-enlarge {
  margin-top: 100px;
  margin-bottom: 100px;
  color: rgba(1, 1, 1, 0.7);
}
.hover-enlarge a {
  font-weight: bold;
  font-size: 4em;
  transition: all 500ms;
}
.hover-enlarge a:hover {
  font-size: 88px;
  font-size-adjust: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

ul li {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 10%;
}

.top {
  text-align: center;
}

.subtitle {
  font-family: "Helvitica", sans-serif;
}

.astronaut-img {
max-width: 50%;
max-height: 50%
}

.flip-container {
  background: transparent;
  display: inline-block;
}

.flip-this {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 4s;
  transform-style: preserve-3d;
}

.flip-container:hover .flip-this {
  transition: 10s;
  transform: rotatex(180deg);
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 800s linear infinite;
  -moz-animation: rotating 800s linear infinite;
  -ms-animation: rotating 800s linear infinite;
  -o-animation: rotating 800s linear infinite;
  animation: rotating 800s linear infinite;
}


