/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */ 
a:hover {
  color: lightblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: lightblue;
  text-decoration: none;
}

#hover-enlarge {
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(1,1,1,0.7);
}

#hover-enlarge a {
    font-weight: bold;
    font-size: 4em;
    transition: all 500ms;
}
    
#hover-enlarge a:hover {
    font-size:88px;
    font-size-adjust: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ca0025;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ca0025;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

figure { 
  text-align: center;
}

h1 {
  letter-spacing: 1px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer
}

p {
  font-family: sans-serif;
}

.background {
  color: #343d46;
  display: block;
  margin:0px;
}

body {
  background-image: url("Stars Background Francesco Ungaro.jpg");;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

ul li {
  text-align: center;
}

.top {
  text-align: center;
}

.subtitle {
  font-family: "Helvitica", sans-serif;
}

.music-icon {
  float: left;
  width: 100px;
  height: 100px;
}

.x-icon {
  float: right;
  width: 50px;
  height: 50px;
}

.astronaut-img {
  text-align: center;
}

.chunk-logo {
  text-align: center;
  display: inline-block;
  margin:0px;
  width: 200px;
  height: 200px;
}

.hover-rotate {
  min-width: 240px;
  max-width: 320px;
  width: 100%;
}

.hover-rotate img {
  transition: all 0.3s;
  max-width: 100%;
}

.hover-rotate:hover img {
  transform: scale(1.3) rotate(5deg);
}

#c:hover {
  letter-spacing: 10px; 
}

.floatleft {
  float: left;
  width: 100;
}

.floatright {
  float: right;
  width: 100%;
}



