/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */ 
a:hover {
  color: lightblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: lightblue;
  text-decoration: none;
}

#hover-enlarge {
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(1,1,1,0.7);
}

#hover-enlarge a {
    font-weight: bold;
    font-size: 4em;
    transition: all 500ms;
}
    
#hover-enlarge a:hover {
    font-size:88px;
    font-size-adjust: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ca0025;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ca0025;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p {
  font-family: sans-serif;
}

.background {
  color: #343d46;
  display: block;
  margin:0px;
}

body {
  background: black;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
}

ul li {
  text-align: center;
}

.top {
  text-align: center;
}

.subtitle {
  font-family: "Helvitica", sans-serif;
}

.music-icon {
  float: right;
  width: 100px;
  height: 100px;
}
.astronaut-img {
  text-align: center;
}

.chunk-logo {
  text-align: center;
  display: inline-block;
  margin:0px;
  width: 200px;
  height: 200px;
}

.flip-container {
  background: transparent;
  display: inline-block;
}

.flip-this {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 4s;
  transform-style: preserve-3d;
}

.flip-container:hover .flip-this {
  transition: 10s;
  transform: rotatex(180deg);
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 600s linear infinite;
  -moz-animation: rotating 600s linear infinite;
  -ms-animation: rotating 600s linear infinite;
  -o-animation: rotating 600s linear infinite;
  animation: rotating 600s linear infinite;
}

.world
{
-webkit-animation: spin1 600s infinite linear;
-moz-animation: spin1 600s infinite linear;
-o-animation: spin1 600s infinite linear;
-ms-animation: spin1 600s infinite linear;
animation: spin1 600s infinite linear;
    display: block;
    text-alignment: center;
}
 
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 

.floatingleft {
  float: left;
}
.floatingright {
  float: right;
}


